@page
@model LoginModel
<!-- Font Icon -->
<link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

<!-- Main css -->
@*<link rel="stylesheet" href="~/css/style.css">*@
<link rel="stylesheet" type="text/css" href="/css/style.css">





<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<img class="wave" src="~/images/wave.png">
<div class="container1">
    <div class="img">
        <img src="~/images/bg.png">
    </div>
    <div class="login-content">
        <form method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            <img src="~/images/avatar.png">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">

                    <input asp-for="Input.Email" id="your_name" placeholder="Your Email" class="input" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    @* <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" name="your_name" id="your_name" placeholder="Your Name" />*@
                </div>

                @*  <div class="div">
                <h5>Username</h5>
                <input type="text" class="input">
            </div>*@
            </div>

            <!--<div class="form-group">
        <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
        <input asp-for="Input.Password" type="password" id="your_pass" placeholder="Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>-->
            @*         <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
        <input type="password" name="your_pass" id="your_pass" placeholder="Password" />*@
            <!--</div>-->

            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">

                    <input asp-for="Input.Password" type="password" id="your_pass" class="input" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                </div>
            </div>

            <a href="#">Forgot Password?</a>
            <div class="btn">
                <input type="submit" name="signin" id="signin" class="btns" value="Log in" />
            </div>
            <div class="social-login">
                <span class="social-label">Or login with</span>
                <ul class="socials">
                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a href="#"><i class=" zmdi zmdi-google"></i></a></li>
                </ul>
            </div>
        </form>

    </div>
 
</div>
<script type="text/javascript" src="js/main.js"></script>



<!--<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
                <a href="/Identity/Account/register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="account">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Input.Email" id="your_name" placeholder="Your Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>-->
                        @* <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Your Name" />*@
                    <!--</div>
                    <div class="form-group">
                        <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                        <input asp-for="Input.Password" type="password" id="your_pass" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>-->
                        @*         <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password" />*@
                    <!--</div>
                    <div class="form-group">-->
                        @*     <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>*@
                        <!--<div class="checkbox">
                            <input asp-for="Input.RememberMe" type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label asp-for="Input.RememberMe" for="remember-me" class="label-agree-term">
                                <span><span></span></span>-->
                               
                            <!--</label>

                        </div>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>-->

@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
